<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hwq.dao.UserMapper" >

    <select id="select" resultType="com.hwq.entity.User">
        SELECT
        id, name, address, age, create_time, update_time
        FROM USER
    </select>

    <select id="findOne" parameterType="java.lang.Integer" resultType="com.hwq.entity.User">
        SELECT
        id, name, address, age, create_time, update_time
        FROM USER
        WHERE id = #{id}
    </select>

    <update id="save">
        UPDATE USER SET
        update_time = now(),
        name = #{name},
        address = #{address},
        age = #{age}
        WHERE id = #{id}
    </update>

</mapper>